.ColorPalette {
    background-color: white;
    height: 100vh;
    overflow: auto;
    /* position: relative; */
}

.ColorPalette-ColorBoxes {
    height: 90%;
}

.ColorPalette-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}

.ColorPalette-Footer {
    height: 5%;
} 

.ColorPalette-link {
    display: flex;
    align-items: center;
    margin-right: 7px;
    width: 30%;
}

.ColorPalette-link button {
    flex: 0 1 auto;
    margin-left: auto;
}