.ColorPalette {
    background-color: white;
    height: 100vh;
    overflow: auto;
    /* position: relative; */
}

.ColorPalette-ColorBoxes {
    height: 90%;
}

.ColorPalette-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6vh;
}


.ColorPalette-Footer {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    height: 4vh;
} 
.emoji {
    font-size: 1.3rem;
    margin: 0 1rem;
} 

.ColorPalette-link {
    display: flex;
    align-items: center;
    margin-right: 7px;
    width: 30%;
}

.ColorPalette-link button,
.ColorPalette-link button:hover {
    background: transparent;
    flex: 0 1 auto;
    margin-left: auto;
    color: black;
}