/* .PaletteShades {
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.ShadeBoxes {
    height: 90%;
}

.ShadeBoxes .ColorBox {
    height: 50%;
}

.PaletteShades .ColorBox-MoreButton {
    display: none;
}

.PaletteShades  .PaletteNavbar-slider {
    opacity: 0;
}

.PaletteShades-header {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 100%;
}

.PaletteShades-link {
    display: flex;
    align-items: center;
    margin-right: 7px;
    text-align: right;
    width: 30%;
}
.PaletteShades-link button,
.PaletteShades-link button:hover {
    background: transparent;
    flex: 0 1 auto;
    margin-left: auto;
}

.LinkBackTo {
    color:black!important;
}
.LinkBackTo .fas {
    margin-right: 5px;
}
.LinkBackTo:hover {
    text-decoration: none;
    color: blue!important;
} */