.PaletteNavbar {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 70%;
}

.PaletteNavbar-slider {
    width: 35%;
    margin: 0 auto;
}
.Slider-container {
    display:inline-block;
    width: 65%;
}
.Slider-legend{
    display: inline-block;
    width: 35%;
}
.PaletteNavbar-select {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.LogoName {
    background-color: #ECEFF1;
    display: flex;
    align-items: center;
    padding: 0 7px;
    text-align: left;
    height: 100%;
}
.LogoName a,
.LogoName a:hover {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.rc-slider-track,
.rc-slider-rail {
    background-color: lightgray;
    height: 6px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: green;
    outline: none;
    border: 2px solid green;
    width: 16px;
    height: 16px;
    box-shadow: none;
}

.rc-slider-track {
    background-color: transparent;
}

